@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-menu-item-selected{
    background-color: #fffaef!important;
    color: #ffb500 !important;;
}

.ant-row {
    justify-content: center;
}